{{define "main"}}
<form action="{{.Route}}" method="post">
  <label for="title">
    <input
      required
      type="text"
      id="title"
      name="title"
      {{if
      .Record.Title}}
      value="{{.Record.Title}}"
      {{end}}
      placeholder="Title"
    />
  </label>
  <label for="content">
    <textarea
      required
      type="text"
      id="content"
      name="content"
      placeholder="Content"
    >
{{with .Record.Content}}{{.}}{{end}}</textarea
    >
  </label>
  <div class="actions">
    <button>{{if .Record.Status}}Update{{else}}Publish{{end}}</button>
  </div>
</form>
{{end}}
