{{define "main"}} {{$basePath := .BasePath}} {{$records := .Records}}
<a href="{{$basePath}}{{.Collection.Plural}}/new" class="button"
  >New {{capitalize .Collection.Name}}</a
>
<h1>Showing all {{.Collection.Plural}}</h1>

{{if .Flash}}
<div class="flash">{{.Flash.Message}}</div>
{{end}}
<table>
  {{range $index, $record := $records}}
  <tr>
    <td>
      <a href="{{$basePath}}{{.Collection.Plural}}/{{$record.ID}}"
        >{{$record.Title}}</a
      >
    </td>
  </tr>
  {{end}}
</table>
{{end}}
